.calculator {
  width: 280px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 120px;
}

.result {
  background-color: #c4c4c4;
  border: 1px solid #ccc;
  padding: 5px;
  text-align: right;
  font-size: 28px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
}

button {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background-color: #e6e6e6;
  border: none;
  cursor: pointer;
}

.button-zero {
  grid-column: span 2;
}

.button-equals {
  grid-column: span 2;
}

button.operator {
  background-color: #ffc266;
}

button:hover {
  background-color: #d9d9d9;
}

button:active {
  background-color: #bfbfbf;
}
