.App {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 80px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  margin: 30px;
}